@media (max-width: 600px) {
  .header_bg {
    background: url("../../../assets/tractor1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    background-position-x: -2rem;
    /* background-position-x: 2rem; */
  }
}
