body {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Poppins", sans-serif;
  /* font-family: 'Rubik', sans-serif; */
}
.text-primary {
  color: #3caa35;
}
.bg-primary {
  background: #3caa35;
}
.bg-secondary {
  background: #ff992e;
}
.bg-opacity {
  background: linear-gradient(
    90deg,
    rgba(167, 218, 163, 0.8) -1.28%,
    rgba(114, 194, 109, 0.9) 33.18%,
    #3caa35 103.2%
  );
  /* ,
    url(image.png); */
}
.text-dark1 {
  color: #544f49;
}
.text-dark2 {
  color: #1d1610;
}
