body {
  font-family: "Poppins", sans-serif;
}
html,
body {
  overflow-x: hidden;
}
.font-mono {
  font-family: "DM Mono", monospace;
}
.text-primary {
  color: #3caa35;
}
.text-light {
  color: #ffffff;
}
.text-primary-100 {
  color: #1d6558;
}
.text-primary-200 {
  color: #48bb78;
}
.bg-primary {
  background: #3caa35;
}
.border-primary {
  border: 2px solid #3caa35;
}
.bg-secondary {
  background: #ff992e;
}
.bg-dark {
  background: #908c88;
}
.bg-dark2 {
  background: #e7e5e5;
}
.text-xss {
  font-size: 0.6rem;
}
.text-secondary {
  color: #ff992e;
}
.bg-light {
  background: #e1f1e2;
}
.bg-light-100 {
  background: rgba(196, 196, 196, 0.2);
}
.bg-light-200 {
  background: #e8e8e8;
}
.bg-light-300 {
  background: #c3d9c2;
}
.bg-light-400 {
  background: #e7e5e5;
}
.bg-light-500 {
  background: #f7fafc;
}
.bg-danger {
  background: #b80404;
}
.text-light {
  color: #8c8181;
}
.shadow-normal {
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.05);
}
.bg-opacity {
  background: linear-gradient(
    90deg,
    rgba(167, 218, 163, 0.8) -1.28%,
    rgba(114, 194, 109, 0.9) 33.18%,
    #3caa35 103.2%
  );
  /* ,
    url(image.png); */
}
.font-mont {
  font-family: "Montserrat", sans-serif;
}
.font-rubik {
  font-family: "Rubik", sans-serif;
}
.text-dark1 {
  color: #544f49;
}
.text-dark2 {
  color: #1d1610;
}
.text-dark3 {
  color: #909090;
}

.text-dark4 {
  color: #3a3a3a;
}
.text-dark5 {
  color: #8c8181;
}
.text-dark6 {
  color: #908c88;
}
.text-dark6 {
  color: #918c88;
}
.text-dark7 {
  color: #2e2e48;
}
.text-dark8 {
  color: #a0aec0;
}
.text-dark9 {
  color: #2e2e48;
}
.text-dark10 {
  color: #6e6e6e;
}
.text-dark11 {
  color: #565656;
}
.text-dark12 {
  color: #a1a1aa;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
nav ul li {
  cursor: pointer;
}
.tractor-bg {
  background: url("./assets/train-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
input {
  outline: none;
}
.input-border {
  border: 1px solid #838383;
  border-radius: 4.71095px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.overlay::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}
.backdrop {
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
