body {
  font-family: "Poppins", sans-serif;
}
.text-primary {
  color: #3caa35;
}
.text-light {
  color: #ffffff;
}
.text-primary-100 {
  color: #1d6558;
}
.bg-primary {
  background: #3caa35;
}
.border-primary {
  border: 2px solid #3caa35;
}
.bg-secondary {
  background: #ff992e;
}
.text-xss {
  font-size: 0.6rem;
}
.text-secondary {
  color: #ff992e;
}
.bg-opacity {
  background: linear-gradient(
    90deg,
    rgba(167, 218, 163, 0.8) -1.28%,
    rgba(114, 194, 109, 0.9) 33.18%,
    #3caa35 103.2%
  );
  /* ,
    url(image.png); */
}
.font-mont {
  font-family: "Montserrat", sans-serif;
}
.font-rubik {
  font-family: "Rubik", sans-serif;
}
.text-dark1 {
  color: #544f49;
}
.text-dark2 {
  color: #1d1610;
}
.text-dark3 {
  color: #909090;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
nav ul li {
  cursor: pointer;
}
.tractor-bg {
  background: url("./assets/train-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
